/.idea/
/target/mac/
/target/Library/
/src/main/lrphotos.lrdevplugin/PhotosImport (Automatisch gesichert).\*
/src/main/lrphotos.lrdevplugin/PhotosImport/
/src/main/lrphotos.lrdevplugin/ShowPhoto (Automatisch gesichert).scpt
/src/main/lrphotos.lrdevplugin/ShowPhoto/
/src/main/lrphotos.lrdevplugin/ShowAlbum/
*.\*
/target/LRPhotos/
/src/main/lrphotos.lrdevplugin/PhotosMaintenance/
