<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SD4Version</key>
	<string>8.0.6</string>
	<key>SD5ConversionOffered</key>
	<false/>
	<key>SDAddUsedFrameworksOnExport</key>
	<integer>0</integer>
	<key>SDAddUsedLibrariesOnExport</key>
	<integer>0</integer>
	<key>SDAutoIncBuildNumber</key>
	<false/>
	<key>SDAutoIncBuildNumberOnExport</key>
	<false/>
	<key>SDBreakOnExceptions</key>
	<false/>
	<key>SDBreakpointsEnabled</key>
	<true/>
	<key>SDBundleVersion</key>
	<string>2.0</string>
	<key>SDCocoaTermsInProperties</key>
	<true/>
	<key>SDCodesignBundles</key>
	<false/>
	<key>SDCodesignOnlyOnExport</key>
	<true/>
	<key>SDDebuggingEnabled</key>
	<false/>
	<key>SDDocumentVersion</key>
	<integer>841887800</integer>
	<key>SDFolds</key>
	<string>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVj
dHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0O
DxBaTlMub2JqZWN0c1YkY2xhc3OggALSEhMUFVokY2xhc3NuYW1lWCRjbGFzc2Vz
Xk5TTXV0YWJsZUFycmF5oxQWF1dOU0FycmF5WE5TT2JqZWN0CBEaJCkyN0lMUVNX
XWJtdHV3fIeQn6OrAAAAAAAAAQEAAAAAAAAAGAAAAAAAAAAAAAAAAAAAALQ=</string>
	<key>SDFullAppletInfoPlist</key>
	<dict>
		<key>CFBundleAllowMixedLocalizations</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleExecutable</key>
		<string>applet</string>
		<key>CFBundleIconFile</key>
		<string>applet</string>
		<key>CFBundleIdentifier</key>
		<string>at.homebrew.PhotosImport</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>PhotosImport</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleSignature</key>
		<string>aplt</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>LNSShowStartupScreen</key>
		<false/>
		<key>LNSStayOpen</key>
		<false/>
		<key>LSMinimumSystemVersionByArchitecture</key>
		<dict>
			<key>x86_64</key>
			<string>10.6</string>
		</dict>
		<key>LSRequiresCarbon</key>
		<true/>
		<key>NSAppleEventsUsageDescription</key>
		<string>This script needs to control other applications to run.</string>
		<key>NSAppleMusicUsageDescription</key>
		<string>This script needs access to your music to run.</string>
		<key>NSCalendarsUsageDescription</key>
		<string>This script needs access to your calendars to run.</string>
		<key>NSCameraUsageDescription</key>
		<string>This script needs access to your camera to run.</string>
		<key>NSContactsUsageDescription</key>
		<string>This script needs access to your contacts to run.</string>
		<key>NSHomeKitUsageDescription</key>
		<string>This script needs access to your HomeKit Home to run.</string>
		<key>NSHumanReadableCopyright</key>
		<string>Copyright © 2023 at.homebrew, All Rights Reserved</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>This script needs access to your microphone to run.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This script needs access to your photos to run.</string>
		<key>NSRemindersUsageDescription</key>
		<string>This script needs access to your reminders to run.</string>
		<key>NSSiriUsageDescription</key>
		<string>This script needs access to Siri to run.</string>
		<key>NSSystemAdministrationUsageDescription</key>
		<string>This script needs access to administer this system to run.</string>
		<key>OSAAppleScriptObjCEnabled</key>
		<true/>
		<key>OSAAppletShowStartupScreen</key>
		<false/>
		<key>OSAAppletStayOpen</key>
		<false/>
	</dict>
	<key>SDHideCodeFolding</key>
	<false/>
	<key>SDMakeScriptsRunOnlyOnExport</key>
	<integer>0</integer>
	<key>SDWindowState</key>
	<dict>
		<key>eventLogWindow</key>
		<dict/>
		<key>resultWindow</key>
		<dict/>
		<key>traceDelay</key>
		<real>0.80000001192092896</real>
		<key>viewControllers</key>
		<dict>
			<key>2CAF7311-EC40-4B28-93FA-B664711EEB80-7081-000001CE0236D5A2</key>
			<dict>
				<key>debuggerViewState</key>
				<dict>
					<key>expressionsState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
					<key>heights4</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>310</integer>
								<integer>392</integer>
								<integer>155</integer>
							</array>
							<key>5</key>
							<array>
								<integer>252</integer>
								<integer>102</integer>
								<integer>319</integer>
								<integer>82</integer>
								<integer>126</integer>
							</array>
						</dict>
					</dict>
					<key>resultState</key>
					<dict>
						<key>modes</key>
						<array>
							<string>mode.best</string>
						</array>
						<key>positions2</key>
						<dict/>
						<key>prettyPrint</key>
						<false/>
					</dict>
					<key>stackVisible</key>
					<false/>
					<key>variablesState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
				</dict>
				<key>eventLogHeight</key>
				<real>174.5</real>
				<key>inspectorsViewState</key>
				<dict>
					<key>applications</key>
					<dict>
						<key>dividerPos2</key>
						<real>144</real>
						<key>searchFlags</key>
						<integer>167784446</integer>
					</dict>
					<key>clippings</key>
					<dict/>
					<key>heights3</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>319</integer>
								<integer>291</integer>
								<integer>288</integer>
							</array>
						</dict>
					</dict>
					<key>tellContext</key>
					<dict>
						<key>explorer</key>
						<dict>
							<key>dividerPos</key>
							<real>262</real>
							<key>scope2.changedItems</key>
							<true/>
							<key>scope2.emptyElements</key>
							<false/>
							<key>scope2.filledElements</key>
							<true/>
							<key>scope2.props</key>
							<true/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
					</dict>
				</dict>
				<key>mainSplit%</key>
				<real>0.62994110584259033</real>
				<key>mainSplitPosition</key>
				<real>440</real>
				<key>modeIdentifier</key>
				<string>tab.debug</string>
				<key>resourcesViewState</key>
				<dict>
					<key>heights2</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>2</key>
							<array>
								<integer>338</integer>
								<integer>612</integer>
							</array>
						</dict>
					</dict>
					<key>resources</key>
					<dict>
						<key>expanded</key>
						<array/>
						<key>selection</key>
						<array/>
					</dict>
				</dict>
				<key>scriptViewState</key>
				<dict>
					<key>editorState</key>
					<dict>
						<key>LNSSelection</key>
						<array>
							<dict>
								<key>length</key>
								<integer>0</integer>
								<key>location</key>
								<integer>29320</integer>
							</dict>
						</array>
						<key>LNSTextViewShowInvisibles</key>
						<false/>
						<key>LNSTextViewShowSpaces</key>
						<false/>
						<key>LNSTextViewShowTabStops</key>
						<false/>
						<key>LNSTextViewWrapLines</key>
						<false/>
						<key>LNSVisibleRect</key>
						<string>{{0, 15873}, {703, 856}}</string>
						<key>ShowLineNumbers</key>
						<false/>
						<key>showCodeCoverage</key>
						<false/>
					</dict>
					<key>instanceID</key>
					<string>CCD9CE1A-13C6-410C-9167-207C00EF7D8F-7081-000001CE03914DFE</string>
					<key>resultBarVisible</key>
					<false/>
					<key>showProgressBar</key>
					<true/>
				</dict>
				<key>showEventLog</key>
				<false/>
				<key>tabHeights</key>
				<dict>
					<key>tab.bps</key>
					<real>433</real>
					<key>tab.debug</key>
					<real>433</real>
					<key>tab.rsrcs</key>
					<real>433</real>
				</dict>
				<key>tabsHidden</key>
				<false/>
				<key>windowControllerID</key>
				<string>2CAF7311-EC40-4B28-93FA-B664711EEB80-7081-000001CE0236D5A2</string>
				<key>windowFrame</key>
				<string>9 88 1189 971 0 0 1728 1079 </string>
			</dict>
		</dict>
		<key>windowControllers</key>
		<array>
			<dict>
				<key>controllerClass</key>
				<string>SD8ScriptWindowController</string>
				<key>controllerID</key>
				<string>2CAF7311-EC40-4B28-93FA-B664711EEB80-7081-000001CE0236D5A2</string>
				<key>controllerState</key>
				<dict>
					<key>miniaturized</key>
					<false/>
					<key>timerShowsDetail</key>
					<false/>
					<key>windowFrame</key>
					<string>9 88 1189 971 0 0 1728 1079 </string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
