<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SD4Version</key>
	<string>8.0</string>
	<key>SD5ConversionOffered</key>
	<false/>
	<key>SDAddUsedFrameworksOnExport</key>
	<integer>0</integer>
	<key>SDAddUsedLibrariesOnExport</key>
	<integer>0</integer>
	<key>SDAutoIncBuildNumber</key>
	<false/>
	<key>SDAutoIncBuildNumberOnExport</key>
	<false/>
	<key>SDBreakOnExceptions</key>
	<false/>
	<key>SDBreakpointsEnabled</key>
	<true/>
	<key>SDBundleVersion</key>
	<string>2.0</string>
	<key>SDCocoaTermsInProperties</key>
	<true/>
	<key>SDDebuggingEnabled</key>
	<true/>
	<key>SDDocumentVersion</key>
	<integer>841887800</integer>
	<key>SDExportAdHocSign</key>
	<false/>
	<key>SDFolds</key>
	<string>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVj
dHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0O
DxBaTlMub2JqZWN0c1YkY2xhc3OggALSEhMUFVokY2xhc3NuYW1lWCRjbGFzc2Vz
Xk5TTXV0YWJsZUFycmF5oxQWF1dOU0FycmF5WE5TT2JqZWN0CBEaJCkyN0lMUVNX
XWJtdHV3fIeQn6OrAAAAAAAAAQEAAAAAAAAAGAAAAAAAAAAAAAAAAAAAALQ=</string>
	<key>SDFullAppletInfoPlist</key>
	<dict>
		<key>CFBundleAllowMixedLocalizations</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleExecutable</key>
		<string>applet</string>
		<key>CFBundleIconFile</key>
		<string>applet</string>
		<key>CFBundleIdentifier</key>
		<string>com.mycompany.iPhotoImport</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>PhotosImport</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleSignature</key>
		<string>aplt</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>LNSShowStartupScreen</key>
		<false/>
		<key>LNSStayOpen</key>
		<false/>
		<key>LSMinimumSystemVersionByArchitecture</key>
		<dict>
			<key>x86_64</key>
			<string>10.6</string>
		</dict>
		<key>LSRequiresCarbon</key>
		<true/>
		<key>NSHumanReadableCopyright</key>
		<string>Copyright © 2021 , All Rights Reserved</string>
		<key>OSAAppletShowStartupScreen</key>
		<false/>
		<key>OSAAppletStayOpen</key>
		<false/>
	</dict>
	<key>SDHideCodeFolding</key>
	<false/>
	<key>SDMakeScriptsRunOnlyOnExport</key>
	<integer>0</integer>
	<key>SDWindowState</key>
	<dict>
		<key>eventLogWindow</key>
		<dict/>
		<key>resultWindow</key>
		<dict/>
		<key>traceDelay</key>
		<real>0.80000001192092896</real>
		<key>viewControllers</key>
		<dict>
			<key>C3F785B0-524E-43B3-9CD8-B7236C03254B-1795-0000112A0A11060D</key>
			<dict>
				<key>debuggerViewState</key>
				<dict>
					<key>expressionsState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
					<key>heights4</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>320</integer>
								<integer>405</integer>
								<integer>160</integer>
							</array>
							<key>5</key>
							<array>
								<integer>285</integer>
								<integer>114</integer>
								<integer>361</integer>
								<integer>92</integer>
								<integer>142</integer>
							</array>
						</dict>
					</dict>
					<key>resultState</key>
					<dict>
						<key>explorerState</key>
						<dict>
							<key>dividerPos</key>
							<real>150</real>
							<key>scope2.changedItems</key>
							<true/>
							<key>scope2.emptyElements</key>
							<false/>
							<key>scope2.filledElements</key>
							<true/>
							<key>scope2.props</key>
							<true/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
						<key>modes</key>
						<array>
							<string>mode.best</string>
						</array>
						<key>positions2</key>
						<dict>
							<key>positions</key>
							<dict/>
						</dict>
						<key>prettyPrint</key>
						<false/>
						<key>textState</key>
						<dict>
							<key>text</key>
							<dict>
								<key>LNSSelection</key>
								<array>
									<dict>
										<key>length</key>
										<integer>0</integer>
										<key>location</key>
										<integer>7</integer>
									</dict>
								</array>
								<key>LNSTextViewShowInvisibles</key>
								<false/>
								<key>LNSTextViewShowSpaces</key>
								<false/>
								<key>LNSTextViewShowTabStops</key>
								<false/>
								<key>LNSTextViewWrapLines</key>
								<true/>
								<key>LNSVisibleRect</key>
								<string>{{0, 0}, {424, 274.5}}</string>
							</dict>
						</dict>
					</dict>
					<key>stackVisible</key>
					<true/>
					<key>variablesState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
				</dict>
				<key>eventLogHeight</key>
				<real>242</real>
				<key>eventLogViewState</key>
				<dict>
					<key>format</key>
					<string>EventLogScopeBar_Source</string>
					<key>resultState</key>
					<dict>
						<key>modes</key>
						<array>
							<string>mode.best</string>
						</array>
						<key>positions2</key>
						<dict>
							<key>positions</key>
							<dict/>
						</dict>
						<key>prettyPrint</key>
						<false/>
					</dict>
					<key>resultViewerWidth</key>
					<real>410</real>
					<key>scopeVisible</key>
					<true/>
					<key>showResultViewer</key>
					<false/>
				</dict>
				<key>inspectorsViewState</key>
				<dict>
					<key>applications</key>
					<dict>
						<key>dividerPos2</key>
						<real>144</real>
						<key>searchFlags</key>
						<integer>167784446</integer>
					</dict>
					<key>clippings</key>
					<dict/>
					<key>heights3</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>320</integer>
								<integer>292</integer>
								<integer>289</integer>
							</array>
						</dict>
					</dict>
					<key>tellContext</key>
					<dict>
						<key>explorer</key>
						<dict>
							<key>dividerPos</key>
							<real>262</real>
							<key>scope2.changedItems</key>
							<true/>
							<key>scope2.emptyElements</key>
							<false/>
							<key>scope2.filledElements</key>
							<true/>
							<key>scope2.props</key>
							<true/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
					</dict>
				</dict>
				<key>mainSplit%</key>
				<real>0.74322915077209473</real>
				<key>mainSplitPosition</key>
				<real>493</real>
				<key>modeIdentifier</key>
				<string>tab.debug</string>
				<key>resourcesViewState</key>
				<dict>
					<key>heights2</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>2</key>
							<array>
								<integer>338</integer>
								<integer>613</integer>
							</array>
						</dict>
					</dict>
					<key>resources</key>
					<dict>
						<key>expanded</key>
						<array/>
						<key>selection</key>
						<array/>
					</dict>
				</dict>
				<key>scriptViewState</key>
				<dict>
					<key>editorState</key>
					<dict>
						<key>LNSSelection</key>
						<array>
							<dict>
								<key>length</key>
								<integer>0</integer>
								<key>location</key>
								<integer>5</integer>
							</dict>
						</array>
						<key>LNSTextViewShowInvisibles</key>
						<false/>
						<key>LNSTextViewShowSpaces</key>
						<false/>
						<key>LNSTextViewShowTabStops</key>
						<false/>
						<key>LNSTextViewWrapLines</key>
						<false/>
						<key>LNSVisibleRect</key>
						<string>{{0, 519}, {1367, 760}}</string>
						<key>ShowLineNumbers</key>
						<false/>
						<key>showCodeCoverage</key>
						<true/>
					</dict>
					<key>instanceID</key>
					<string>89265DC0-E0DF-4F11-A5A0-A0AD2E8B1879-1795-0000069C9DF41E2C</string>
					<key>resultBarVisible</key>
					<false/>
					<key>showProgressBar</key>
					<true/>
				</dict>
				<key>showEventLog</key>
				<true/>
				<key>tabHeights</key>
				<dict>
					<key>tab.bps</key>
					<real>433</real>
					<key>tab.debug</key>
					<real>439</real>
					<key>tab.rsrcs</key>
					<real>433</real>
				</dict>
				<key>tabsHidden</key>
				<false/>
				<key>windowControllerID</key>
				<string>C3F785B0-524E-43B3-9CD8-B7236C03254B-1795-0000112A0A11060D</string>
				<key>windowFrame</key>
				<string>0 50 1920 1125 0 0 1920 1175 </string>
			</dict>
		</dict>
		<key>windowControllers</key>
		<array>
			<dict>
				<key>controllerClass</key>
				<string>SD8ScriptWindowController</string>
				<key>controllerID</key>
				<string>C3F785B0-524E-43B3-9CD8-B7236C03254B-1795-0000112A0A11060D</string>
				<key>controllerState</key>
				<dict>
					<key>miniaturized</key>
					<false/>
					<key>timerShowsDetail</key>
					<false/>
					<key>windowFrame</key>
					<string>0 50 1920 1125 0 0 1920 1175 </string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
